// local post id
//@postid:        190;
//@galleryid:    2378;

// staging post id
@postid: 1660;
@galleryid:    1663;

// production post id
//@postid: 190;
//@galleryid:    2378;


#aesop-video-@{postid}-1 {
    //overflow: visible !important;
    display:block;
    height:500px;

    .aesop-video-container {
        position: static;
    }
}

// office
#aesop-content-component-@{postid}-1,
#aesop-content-component-@{postid}-3 {
    hr,
    h2 {
        margin:5rem auto 2rem;
    }
}

// content component padding
#aesop-content-component-@{postid}-2 .aesop-content-comp-inner,
#aesop-content-component-@{postid}-6 .aesop-content-comp-inner{
    padding-left:5rem;
    padding-right:5rem;
    margin-bottom:-1rem;
}
#aesop-content-component-@{postid}-6 .aesop-content-comp-inner{
    margin-bottom:-3rem;
}
//started get scared
#aesop-content-component-@{postid}-3 {

    h2 {
        margin-bottom:4rem;
    }
}
//bomb
#aesop-content-component-@{postid}-4 {
    padding:7rem 1.2rem;
    .box-shadow(inset 0 6px 6px -4px rgba(0,0,0,.35));

    .lead {
        margin-top:4rem;
    }
}

// parallax
.aesop-story-single .aesop-parallax-sc-@{postid}-1 {
    .aesop-parallax-sc-img {
        background-size:cover;
    }

    .aesop-parallax-sc-floater {
        position: absolute;
        width:100%;
        left:0;
        right:0;
        top:0;
        color:white;
        font-family: @font-family-sans-serif;
        font-weight: bold;
        text-align: center;
        z-index: 2;

        span {
            display: block;
            font-size: @video-component-caption;

            &:first-child {
                margin-top:70px;
            }

            &:nth-child(3),
            &:first-child {
                font-weight: 400;
            }
        }

        p {
            color:inherit;
            text-align: left;
        }

        h3 {
            margin-top:4rem;
            color:white;
            font-weight: 900;
        }
    }
}
.aesop-story-single .aesop-parallax-sc-@{postid}-2 {
    margin-top:6rem;
   .aesop-parallax-sc-img:after {
        content:'';
        position: absolute;
        width:100%;
        height:100%;
        left:0;
        top:0;
        background: black;
        .opacity(0);
        .transition(opacity 2s linear);
    }

    .aesop-parallax-floater-3 {
        width: 100%;
        height: 100%;
        position: absolute;
        left:0;
        top:0;
        right:0;
        .opacity(0);
        .transition(opacity 10s linear);
    }

    &.img-out {

        .aesop-parallax-sc-img:after {
            .opacity(1);

        }

        .aesop-parallax-floater-3 {
            .opacity(1);
            background-image: url(../img/music-off-b.jpg);
            background-size:cover;
            background-position:center right;
        }
    }
    .music-off {
        max-width: @width;
        margin:0 auto;

        h3, p {
            color:white;
        }

        p {
            text-align: left;
        }
    }
}

// chapter
#chapter-unique-@{postid}-1 {
    margin:0;
}

#chapter-unique-@{postid}-5 {
    &.aesop-article-chapter-wrap .aesop-cover-title {
        width:300px;
    }
}


// quote components
.aesop-stories-quote-img {
    margin:4rem auto -5rem;
    display: block;
    width:100%;
    position: relative;
    z-index: 1;

    &.parents-img,
    &.cereal-img,
    &.orange-img,
    &.pills-img,
    &.dirt-img,
    &.king-img,
    &.statue-img,
    &.rule-img{
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    &.parents-img {
        height:460px;
        margin-bottom: -5rem;
    }

    &.orange-img {
        height:228px;
        position: relative;
        background-position: 55% center;
    }

    &.pills-img {
        height:228px;
    }

    &.dirt-img {
        height:300px;
        margin-bottom: -7rem;
    }

    &.king-img {
        height:352px;
        margin-bottom: -2.5rem;
    }
    &.cereal-img {
        height:300px;
        margin-bottom: -8rem;
    }

    &.statue-img {
        height:300px;
        margin-bottom: -3rem;
    }

    &.rule-img {
        height:300px;
        margin-bottom: -3rem;
    }
}

#aesop-quote-component-@{postid}-3, // parents
#aesop-quote-component-@{postid}-4, // cereal
#aesop-quote-component-@{postid}-5, // oranges
#aesop-quote-component-@{postid}-7, // pills
#aesop-quote-component-@{postid}-11, // dirt
#aesop-quote-component-@{postid}-15,
#aesop-quote-component-@{postid}-17, // king
#aesop-quote-component-@{postid}-21,
#aesop-quote-component-@{postid}-24 { // king
    margin-bottom:4rem;
    blockquote{
        font-weight: normal;
        font-size:3.6em !important;
        font-size: @font-size-lead;
        line-height:@line-height-lead;
        font-style: normal;
        padding:4rem 1rem;
    }

    cite {
        font-size: 1em !important;
        font-weight: 600;
    }

    &:before,
    &:after {
        content:'';
        width:@width;
        margin-left:auto;
        margin-right:auto;
        display: block;
        height:5px;
        background-image: url(../img/hr.png);
        background-repeat: no-repeat;
    }

    &:after {
        .rotate(180deg);
    }
}

// convo gallery
#aesop-gallery-@{galleryid}-2 {
    background-color:black;
}
#aesop-grid-gallery-1668 {
    height:398px;
}

// quote components plain 
#aesop-quote-component-@{postid}-6,
#aesop-quote-component-@{postid}-9,
#aesop-quote-component-@{postid}-13,
#aesop-quote-component-@{postid}-16,
#aesop-quote-component-@{postid}-18 {
    margin:5rem auto;

}

// not sure there are any
#aesop-quote-component-@{postid}-12 {
    text-shadow:0 0 4px rgba(0,0,0,0.65);

    blockquote cite {
        font-size: 0.7em !important;
        font-weight:700;
    }
}

// strong i said
#aesop-quote-component-@{postid}-16 {
    blockquote {
        font-size:4em !important;
    }
}

// image background quotes
#aesop-quote-component-@{postid}-12,
#aesop-quote-component-@{postid}-14,
#aesop-quote-component-@{postid}-19,
#aesop-quote-component-@{postid}-23 {
    display: table;
    margin: 3rem auto;
    blockquote {
        display: table-cell;
        vertical-align: middle;
    }
}

#aesop-quote-component-@{postid}-18 {
    margin-bottom: 0;
}
// dear wesley
#aesop-content-component-@{postid}-7 {

    .aesop-content-comp-inner p{
        font-family: @font-family-hand;
        font-size:4.8em;
        line-height: 1.1;
        font-weight: normal;
        color:@green;

        &:first-child {
            margin-bottom: 0.6rem;
        }

        &:last-child {
            margin-top:0;
        }
    }
}
