// video

// local post id
@postid: 190;

// staging post id
//@postid: 1660;

// production post id
//@postid: 190;

#aesop-video-@{postid}-1 {
    height:300px;
}
#aesop-video-@{postid}-2 {
    height:360px;
}