// footer main
.aesop-story-footer {
    .aesop-story-footer-inner {
        .aesop-story-width;
    }
}

// contributors
.aesop-story-contributor {
    .clearfix();
    display: inline-block;
    width:50%;
    margin:0 -4px @module-space 0;

    .aesop-story-contributor-avatar {
        max-width:100px;
        float: left;
        margin:0 1.4rem 0 0;
        border-radius:50%;
    }
    .aesop-story-contributor-name,
    .aesop-story-contributor-occupation,
    .aesop-story-contributor-bio {
        overflow: hidden;
    }
    .aesop-story-contributor-name {
        margin:0;
        font-family: @font-family-sans-serif;
        color:@text-color;
    }
    .aesop-story-contributor-occupation {
        font-style: italic;
        font-weight:300;
        display: block;
        font-size: @font-size-small - 0.5;
        color:lighten(@text-color,15);
    }
    .aesop-story-contributor-bio p{
        font-size: @font-size-small;
    }
}