// general
.aesop-story {
    -webkit-font-smoothing: antialiased;
    p {
        font-family:@font-family-sans-serif;
        font-weight:300;
        font-size: @font-size; // 19px
        line-height: @line-height; // 30px
    }
    h1,h2,h3,h4,h5,h6 {
        font-family: @font-family-serif;
    }

    a {
        color:@link-color;
    }
}
// entry
.aesop-story-entry {
    padding-top:60px;
    background:@base;
    z-index: 1;
    position: relative;
    margin-top:1000px;

    p,h1,h2,h3,h4,h5,h6,ul,ol {
        .aesop-story-width;
    }
}

// story cover
.aesop-story-cover{
    background: @base;
    height:1000px; //temporary until js kicks in
    width:100%;
    position: fixed;
    top:0;


    // cover mask
    &:after {
        content:'';
        width:100%;
        height:100%;
        position: absolute;
        left:0;
        top:0;
        background:rgba(0,0,0,0.5);
    }

    // cover inner
    .aesop-story-cover-inner {
        top: 20%;
        text-align: center;
        color:white;
        position: absolute;
        z-index: 1;
        width: 100%;
        left: 0;
        right: 0;

        .aesop-story-title {
            margin:0;
            font-size:12rem;
            line-height: 12rem;
            text-transform: uppercase;
        }
        .aesop-story-meta {
            font-family: @font-family-serif;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1.25px;
        }
    }

    // cover excerpt
    .aesop-story-excerpt {
        text-align: left;
        max-width:60%;
        margin:3rem auto 0;

        &:first-letter {
            float: left;
            font-size: 9.6rem;
            line-height: 8rem;
            padding-top: 0.95rem;
            padding-right: 0.9rem;
            font-family: @font-family-serif;
            font-weight:700;
        }
    }

    // cover bg image
    .aesop-story-cover-img {
        position: absolute;
        width:100%;
        height:100%;
        left:0;
        top:0;
    }

    //story indicator
    .aesop-story-indicator {
         // cover read indicator
        font-size:3.4rem;
        position: absolute;
        bottom: 25px;
        color: #fff;
        left: 50%;
        height: 40px;
        width: 60px;
        z-index: 2;
        opacity:0.5;
    }
}

// story header
.aesop-story-header {
    position: fixed;
    top:0;
    width:100%;
    z-index: 2;
    background: @base;
    opacity:0;
    transition: opacity .35s ease-in-out;

    // visible status after cover cleared
    &.visible {
        opacity:1.0;
        z-index: 2;
        display: block;

        &:after {
            opacity:0;
        }
    }
}
