@media ( max-width:@width ) {

    .aesop-story-single {
        p,h1,h2,h3,h4,h5,h6,ol,ul {
            padding-left: @responsive-padding;
            padding-right: @responsive-padding;
        }
    }
}

@media(max-width:1023px) {
    .aesop-content-component {
       .aesop-content-comp-wrap {
            &.aesop-content-comp-columns-2 .aesop-content-comp-inner,
            &.aesop-content-comp-columns-3 .aesop-content-comp-inner,
            &.aesop-content-comp-columns-4 .aesop-content-comp-inner{
                .content-columns(1, 20);
                max-width:100% !important ; //overriding js

                p {
                    padding:0;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

@media(max-width:480px) {
    .aesop-story-single .aesop-quote-component {
        blockquote {
            padding: 2.2rem 1rem;
            font-size: 3em !important;
            line-height: 1;
        }

        cite {
            margin-top:10px;
        }
    }

    .aesop-content-comp-inner {
        h2,p {
            padding-left:0;
            padding-right: 0;
        }
    }
}

.small-height {
    .aesop-story-chapters ol li a {
        padding-top:1rem;
        padding-bottom:1rem;
    }
    .aesop-story-contributor {
        text-align: left;
        margin-bottom: 1.5rem;
        clear: left;
        min-height: 60px;

        .aesop-story-contributor-avatar {
            display: none;
        }
        .aesop-story-contributor-name {
            position: static;
        }
        .aesop-story-contributor-occupation {
            display: inline-block;
            padding-left:4px;
        }
        .aesop-story-contributor-bio {
            overflow: visible;
            p {
                margin-top:0.35rem;
            }
        }
    }
}