// header
.aesop-story-header {
    height:1000px; //temporary until js kicks in
    width:100%;
    position: fixed;
    top:0;

    .aesop-story-header-inner {
        position: absolute;
        z-index: 1;
        width: 100%;
        left: 0;
        right: 0;

        .aesop-story-title {
            margin-top:0;
        }
    }
    .aesop-story-cover {
        position: absolute;
        width:100%;
        height:100%;
        left:0;
        top:0;
    }
}

// entry
.aesop-story-entry {
    z-index: 1;
    position: relative;
    margin-top:1000px;

    p,h1,h2,h3,h4,h5,h6,ul,ol {
        .aesop-story-width;
    }
}