// header
.aesop-story-cover {


    .aesop-story-cover-inner {


        .aesop-story-title {
            margin:0;
        }
    }
    .aesop-story-excerpt {
        max-width:60%;
        margin:3rem auto 0;
    }
    .aesop-story-cover-img {

    }
}        max-width:60%;
        margin:3rem auto 0;
    }



// entry
.aesop-story-entry {

}