@path:                  "../../assets/fonts/journal-webfont";
@intro_path:            "../../assets/fonts/intro-webfont";

@font-face {
  font-family: 'journalregular';
  src: url('@{path}.eot?v=1.1');
  src: url('@{path}.eot?#iefix&v=1.1') format('embedded-opentype'),
    url('@{path}.woff?v=1.1') format('woff'),
    url('@{path}.ttf?v=1.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'intro';
  src: url('@{intro_path}.eot?v=1.1');
  src: url('@{intro_path}.eot?#iefix&v=1.1') format('embedded-opentype'),
    url('@{intro_path}.woff?v=1.1') format('woff'),
    url('@{intro_path}.ttf?v=1.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.post-type-archive-aesop_stories, //body level
.aesop-story-single {

    body {
        line-height: @line-height;
          -webkit-font-smoothing: antialiased;
         -moz-osx-font-smoothing: grayscale;

        @media(max-width:@responsive-break) {
            font-size:@responsive-line-height;
        }
    }
    p {
        color:@text-color;
        font-family:@font-family-sans-serif;
        font-weight:600;
        font-size: @font-size; // 19px
        margin-bottom: 1.5rem;

        @media(max-width:@responsive-break) {
            font-size:@responsive-font-size;
        }

        &.lead {
            font-size: @font-size-lead;
            line-height: @line-height-lead;
            font-style: italic;

            @media(max-width:@responsive-break) {
                font-size:@responsive-font-size-lead;
                line-height:@responsive-line-height-lead;
            }

        }
    }

    .aesop-component + .lead {
        margin-top:10rem;
    }

    .h1,.h2,.h3,.h4,.h5,.h6,
    h1,h2,h3,h4,h5,h6 {
        letter-spacing: inherit;
    }

    .h1,h1,
    .h2,h2 {
        font-family: @font-family-hand;
        font-weight: normal;
        color:@red;
    }

    .h1,h1 {
        font-size: @h1-font-size;
        margin-top: 2rem;
        margin-bottom: 0;
    }

    .h2,h2 {
        font-size:@h2-font-size;
        line-height: 0.7;
        margin:10rem auto 5rem;
        text-align: center;
    }

    h2 + .lead {
        margin-top:0;
    }

    .h3,h3 {
        color:@green;
        font-size: @h3-font-size;
        font-family: @font-family-sans-serif;
        font-weight:600;
        margin-top:4rem;
        margin-bottom: 4rem;
        line-height: 1;
    }

    a {
        color:@link-color;
        .transition(color .25s ease-in-out);

        &:hover {
            color:lighten(@link-color,7);
        }
    }

    .aesop-stories-sig {
        font-family: @font-family-hand;
        color:@green;
        font-size:6.2em;
        font-weight:300;
        margin-top:0;
    }

    .aesop-story-hr {
        border:none;
        height:5px;
        background-image: url(../img/hr.png);
        background-repeat: no-repeat;

        &.reverse {
            .rotate(180deg);
        }

        &.cow-hr {
            height:190px;
            background-position:center center;
            margin-bottom: 6rem;
            &:before {
                content:'';
                height:192px;
                width:284px;
                display: block;
                margin:0 auto;
                background-image: url(../img/cow.png);
                background-repeat: no-repeat;
                position: relative;
                top: 25px;
            }
        }
    }

    hr + h2 {
        margin-top:3rem;
    }
}