// variables
@width:                     1160px;
@base:                      white;

@font-size:                 2.4em; // 25px
@line-height:               1.4;

@font-size-lead:            3em;
@line-height-lead:          1.45;

@font-size-col:             2.1em;
@line-height-col:           1.3;

@font-size-small:           @font-size - 1; // 20px

@font-family-sans-serif:    'ff-enzo-web',sans-serif;
@font-family-serif:         'Lustria', serif;
@font-family-mono:          'Courier New', courier;
@font-family-hand:           'journalregular', serif;
@font-family-intro:          'intro', 'impact', 'charcoal', sans-serif;

@text-color:                #121212;
@link-color:                #0074a2;

@header-width:              260px;
@header-toggle-width:       36px;

@module-space:              6rem; //60px
@padding:                   1rem;
@responsive-padding:        2rem;

//colors
@red:                       #94340a;
@dark-green:                #3d3c38;
@light-green:               #96aca0;
@green:                     #6a7a4e;
@light-brown:               #cbcaaf;
@brown:                     #b3ab8b;


// video
@video-component-caption:   3em;