// variables
@width:                     1160px;
@base:                      white;

@font-size:                 2.4em; // 25px
@line-height:               1.4;

@font-size-lead:            3em;
@line-height-lead:          1.5;

@font-size-col:             2.1em;
@line-height-col:           1.75;

@font-size-small:           @font-size - 1; // 20px

@h1-font-size:              8em; //80px
@h2-font-size:              6.2em; //62px
@h3-font-size:              3.2em; //32px

@font-family-sans-serif:    'ff-enzo-web',sans-serif;
@font-family-serif:         'Lustria', serif;
@font-family-mono:          'Courier New', courier;
@font-family-hand:           'journalregular', serif;
@font-family-intro:          'intro', 'impact', 'charcoal', sans-serif;

@text-color:                #3c3c3c;
@link-color:                #0074a2;

@header-width:              280px;
@header-toggle-width:       50px;

@module-space:              6rem; //60px
@padding:                   1rem;

//resposnive
@responsive-padding:        2rem;
@responsive-font-size:      @font-size - 0.4;
@responsive-line-height:    @line-height - 0.2;
@responsive-break:          600px;

@responsive-font-size-lead:  @font-size-lead - 0.2;
@responsive-line-height-lead: @line-height-lead - 0.2;

//colors
@red:                       #94340a;
@dark-green:                #3d3c38;
@light-green:               #96aca0;
@green:                     #6a7a4e;
@light-brown:               #cbcaaf;
@brown:                     #b3ab8b;
@image-border:              #e8e8e8;


// video
@video-component-caption:   3em;

// sliding panel
@panel-back:                @dark-green;
@panel-color:               #e4e4e4;